[submodule "font-srcs/noto-emoji"]
	path = font-srcs/noto-emoji
	url = https://github.com/googlefonts/noto-emoji
[submodule "font-srcs/twemoji"]
	path = font-srcs/twemoji
	url = https://github.com/twitter/twemoji
