absl-py==0.9.0
appdirs==1.4.4
attrs==19.3.0
booleanOperations==0.9.0
cffsubr==0.2.7
compreffor==0.5.0
cu2qu==1.6.7
fonttools==4.12.1
fs==2.4.11
lxml==4.5.1
nanoemoji==0.1.10
picosvg==0.3.13
pyclipper==1.1.0.post3
pytz==2020.1
regex==2020.6.8
six==1.15.0
skia-pathops==0.4.1
typing-extensions==3.7.4.2
ufo2ft==2.15.0
ufoLib2==0.8.0
